.about-movie {
  margin-top: 2rem !important;

}

.about-movie h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
}

.about-movie p {
  max-width: 600px;
  font-size: 0.938rem;
  margin: 10px 0;
}

.cast-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 170px));
  gap: 1rem;
}

.download {
  max-width: 800px;
  width: 1005;
  margin: auto;
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}
.download-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.6rem 0;
  color: var(--main-color);
}

.download-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 2rem;
}

.download-links a {
  text-align: center;
  background: var(--main-color);
  padding: 12px 24px;
  color: var(--body-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.download-links a:hover {
  background: var(--hover-color);
}